@import "variables";
@import "mixins";

.excel__formula {
	background-color: $accentLight;
	display: flex;
	height: 3.5rem;
	align-items: center;
	border-bottom: 1px solid $accentDark;
	&-info {
		width: $cell-width;
		font-size: 1.6rem;
		font-style: italic;
		font-weight: 600;
		margin-left: 3px;
		text-align: center;
		color: #000;
	}
	&-input {
		padding-left: 1rem;
		width: 100%;
		height: 100%;
		border: none;
		border-left: 1px solid $accentDark;
		&::placeholder {
			font-style: italic;
			font-weight: 300;
		}
		&:focus {
			&::placeholder {
				color: #ccc;
			}
		}
	}
}