@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~normalize.css";
@import "dashboard";
@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.2rem;
	font-family: "Roboto", sans-serif;
}
