@import "variables";
@import "mixins";

.excel__table {	
	table {
		table-layout: fixed;
		width: 100%;
	}
	table, th, td {
		border: 1px solid $accentDark;
		border-spacing: 0;
		border-collapse: collapse;
		font-weight: 600;
		font-size: 1.6rem;
	}
	th, td {
		height: $cell-height;
		width: $cell-width;
		min-width: $cell-width;
		position: relative;
	}
	th, td:nth-child(1) {  
		cursor: cell;
		text-align: center;
		background-color: #eee;
	}
	td:not(:first-child) {
		.excel__table-cell {
			height: 100%;
			outline: none;
			border: 2px solid transparent;
			width: 100%;
			&:hover {
				border: 2px solid #000;
			}
			&:focus {
				border: 2px solid $accentDark;
			}
		}
	}
	&-col-resize, &-row-resize {
		z-index: 1;
		position: absolute;
		background: $addColor;
		opacity: 0;
		&:hover {
			opacity: 1;
		}
	}
	&-col-resize {
		top: 0;
		bottom: 0;
		right: -2px;
		width: 4px;
		cursor: col-resize;
	}
	&-row-resize {
		left: 0;
		right: 0;
		bottom: -2px;
		height: 4px;
		cursor: row-resize;
	}
	  
}
